{% extends "accounts/layout/layout_reg.html"%}
{% load static %}

{% block body %}

    <div class="msg" style=" text-align:center; color: red; font-size:10px;">
        {% for message in messages %}
            <h1> {{message}} </h1>
        {% endfor %}
    </div>
    
    <form method="POST" onsubmit="return validate()" class="form login">
        {% csrf_token %}
        <div class="form__field">
            <a href="/" style="height: 80px;margin-left: auto; margin-right: auto;" ><img src="{% static 'accounts/favicon.png' %}" style="height: 80px;margin-left: auto; margin-right: auto;"></a>
        </div>
        
        <div class="form__field">
            <label for="login__username"><svg class="icon">
                    <use xlink:href="#icon-user"></use>
                </svg><span class="hidden">Username</span></label>
            <input autocomplete="username" id="login__username" type="text" name="username" class="form__input"
                placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__email"><svg class="icon">
                    <use xlink:href="#icon-user"></use>
                </svg><span class="hidden">Username</span></label>
            <input autocomplete="email" id="mail" type="text" name="email" class="form__input"
                placeholder="Email" required>
        </div>

        <div class="form__field">
            <label for="login__password"><svg class="icon">
                    <use xlink:href="#icon-lock"></use>
                </svg><span class="hidden">Password</span></label>
            <input id="pass" type="password" name="pass" class="form__input" placeholder="Password"
                required>
        </div>

        <div class="form__field">
            <label for="relogin__password"><svg class="icon">
                    <use xlink:href="#icon-lock"></use>
                </svg><span class="hidden">Password</span></label>
            <input id="repass" type="password" name="repass" class="form__input" placeholder="ReType Password"
                required>
        </div>

        <div class="form__field">
            <input type="submit" value="Register">
        </div>

    </form>

    <p class="text--center">Already a member? <a href="/accounts/login/">Login now</a> <svg class="icon">
            <use xlink:href="#icon-arrow-right"></use>
        </svg></p>

{% endblock %}
